{"filter":false,"title":".gitignore","tooltip":"/deb_app/.gitignore","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":220.5,"scrollleft":0,"selection":{"start":{"row":28,"column":15},"end":{"row":28,"column":15},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":12,"state":"start","mode":"ace/mode/ini"}},"timestamp":1542664224103,"hash":"f57c18b6b343f2774f72b041b8d1d360dd083ab0"}